<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Survey</title>
        <link rel = "stylesheet" href = "/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            var socket;
            $(document).ready(function() {
                socket = io();
                socket.on('greeting', function (data) {
                    socket.emit('thankyou', {msg: 'Thank you for connecting me! -Client'});
                });
                socket.on('updated_message', function (data) {
                    $('#info').attr("hidden",false);
                    $('#info #message').html(data.msg);
                });
                socket.on('random_number', function (data) {
                    $('#info').attr("hidden",false);
                    $('#info #number').html(data.msg);
            })
        });

        function EmitInfo() {
            console.log("Emission started");
            var info = {
                Name: document.getElementById("Name").value,
                Location: document.getElementById("Location").value,
                Language: document.getElementById("Language").value,
                Comment: document.getElementById("Comment").value
            };
            socket.emit('posting_form', {info});
        }
        </script>
    </head>
    <body>
        <div hidden id = "info" class = "container p-4 border border-dark col-8 offset-2" style = "background-color: rgba(157, 229, 157, 0.671);">
            <p id = "message"></p>
            <p id = "number"></p>
        </div>
        <form onsubmit="return false" id = "post_info" class = "p-4 border border-dark shadow col-8 offset-2">
            <div class="form-inline mt-2 mb-4">
                <label for="Name" class = "col-6">Your Name: </label>
                <input type="text" class="form-control col-5 border border-dark" id="Name">
            </div>
            <div class="form-inline mt-2 mb-4">
                <label for="Location" class = "col-6">Dojo Location: </label>
                <select id = "Location" class = "form=control col-5">
                    <option value = "San Jose">San Jose</option>
                    <option value = "Seattle">Seattle</option>
                    <option value = "Tulsa">Tulsa</option>
                    <option value = "Mountain View">Mountain View</option>
                </select>
            </div>
            <div class="form-inline mt-2 mb-4">
                <label for="Language" class = "col-6">Favorite Language: </label>
                <select id = "Language" class = "form=control col-5">
                    <option value = "C#">C#</option>
                    <option value = "Python">Python</option>
                    <option value = "MEAN">MEAN</option>
                    <option value = "Ruby">Ruby</option>
                </select>
            </div>
            <div class="form-group mt-2 mb-4">
                <label for="Year:" class = "col-6 offset-2">Comment (optional): </label>
                <textarea class="form-control col-9 offset-2" id="Comment" rows = "4"></textarea>
            </div>
            <button type = "submit" class = "btn btn-primary offset-10 text-white shadow shadow-lg" onclick = "EmitInfo();">Submit</button>
        </form>
    </body>
</html>