<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Survey</title>
        <link rel = "stylesheet" href = "/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            var socket;
            $(document).ready(function() {
                socket = io();
                socket.on('greeting', function (data) {
                    socket.emit('thankyou', {msg: 'Thank you for connecting me! -Client'});
                });

                socket.on('update', function(data) {
                    console.log("initial update")
                    $('#message').html("This button has been pushed " + data.count + " time(s)!");
                })

                socket.on('reset', function() {
                    $('#message').html("This button has been pushed " + count + " time(s)!");
                })
            });

            function Update() {
                socket.emit('AddOne')
            }

            function Reset() {
                socket.emit('Reset')
            }
        </script>
    </head>
<body>
    <div class = "container text-center">
        <h1 class = "mb-4" id = "message"></h1>
        <div class = "col-6 offset-3">
            <p>Push the button to update the count!</p>
            <button class = "btn btn-primary text-white rounded shadow" style = "height: 60px;" onclick="Update();">Push the epic button</button>
        </div>
        <button class = "px-2 btn btn-danger text-white shadow offset-9 mt-2" onclick="Reset();">Reset count</button>
    </div>
</body>
</html>